body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header, nav, main, aside, section, footer{
    border: 1px solid black;
    margin: 5px;
}
nav > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
header{
    position: sticky;
    top: 0;
}
ul > li > a{
    color: white;
}
header, footer{
    background-color: rgb(22, 22, 79);
    color: white;
    text-align: center;
}
.mainContainer{
    display: flex;
}
aside{
    max-width: 100%;
    background-color: bisque;
}
main{
    /* display: flex; */
    flex-wrap: wrap;
    width: 100%;
    background-color: aliceblue;
}
.mainForm{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    border: 2px solid gray;
    margin: 20px;
    font-size: 20px;
    background-color: antiquewhite;
    /* width: 800px; */
}
/* .formHead{
    width: 100%;
} */
.mainForm > div{
    /* flex-basis: 50%; */
    padding: 10px;
}
/* .mainForm > div > input{
    margin-left: 20%;
}  */
.head{
    text-align: center;
}
/* .buttonDiv{
    text-align: center;
} */
.courseDiv{
    margin-left: 30%;
    gap: 50px;
}
table{
    /* width: 400px; */
    width: 100%;
    margin: auto;
}
table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
th{
    background-color: yellow;
}
.gridContainer{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* flex-grow: 1; */
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}
.gridItem{
    border: 1px solid black;
    color: white;
}
img{
    min-height: 100px;
    max-width: 100%;
}
footer > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
footer ul li a{
    text-decoration: none;
}
.tableContainer{
    /* background-color: cyan; */
    background-image: linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0))
}
footer{
    width: 100%;
    position: sticky;
    bottom: 0;
}
